html {
  font-size: 10px;
  background: url("./background.jpg") bottom center;
  background-size: cover;
}

.heading {
  position: absolute;
  top: 60px;
  right: 50vw;
  transform: translate(50%, 0%);
  text-align: center;
  color: black;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 70px;
}

.heading2 {
  display: block;
  line-height: 75px;
  font-weight: 100;
  font-size: 30px;
}
body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
}

.keys {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: 0.5rem solid black;
  border-radius: 1rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem 0rem;
  transition: all 0.1s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 0.5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #ff8c00;
  box-shadow: 0 0 1rem #ff8c00;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #ff8c00;
}
